.footer {
  // background: #69f0ae;
  // font-size: 64px;
  text-align: center;
  border-top: 1px solid var(--neutral-300);
  padding-top: 32px;
}

// .footer {
//   text-align: center;
//   border-top: 1px solid var(--neutral-300);
//   padding-top: 32px;
// }
